:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #2196f3;
  --logo-color-header: #000000;
  --logo-color-footer: #ffffff;
  --title: #000000;
  --main-background: #ffffff;
  --secondary-background: #f5f4fa;
  --hero-background: #2f303a;
  --footer-background: #2f303a;
  --button-background: #2196f3;
  --button-color: #ffffff;
  --address-color-fact: #ffffff;
  --address-color-mail-tel: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--main-background);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}

.logo {
  color: var(--logo-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-color-header {
  color: var(--logo-color-header);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-color-footer {
  color: var(--logo-color-footer);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

/* Site nav */

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link {
  letter-spacing: 0.02em;
}

.auth-nav .link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  color: var(--main-background);
  background: var(--hero-background);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  background: var(--secondary-background);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
}

.button:hover,
.button:focus {
  color: var(--button-color);
  background: var(--button-background);
}

/* Features */
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
}

/* work */
.work-title,
.team-title {
  color: var(--title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* team */
.team {
  background: var(--secondary-background);
}
.team-list {
  background: var(--main-background);
}

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-profession {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* Profile */
.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-text {
  font-size: 16px;
  line-height: 1.87;
}

/* footer */
.footer {
  background: var(--footer-background);
}
.address-fact {
  color: var(--address-color-fact);
}
.address-mail-tel {
  color: var(--address-color-mail-tel);
}
